body {
    background: url(../../img/fond_eau_plan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    body {
        background-position: right;
    }
}

.IntroductionMer {
    width: 65%;
    margin-top: 5vw;
    margin-left: 25%;
    margin-right: 5%;
    padding: 1%;
    font-family: Fira Sans Extra Condensed;
}

.IntroductionMer h2 {
    color: #0a5957;
    font-size: 5vw;
    text-align: right;
    margin-right: 5%;
    margin-left: 5%;
}

.IntroductionMer .Contenue {
    text-align: right;
}

.IntroductionMer .Texte {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 2vw;
}

.IntroductionMer .Source {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1.3vw;
    font-style: italic;
}

.IntroductionMer .Partager {
    width: 18%;
    line-height: 150%;
    background-color: #0a5957;
    border: 0.7vw solid white;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5%;
}

.IntroductionMer .Partager a {
    text-decoration: none;
    color: white;
}