.details {
    background-image: url(../img/fond_plage_body.jpg);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    overflow: hidden;
}

.details a {
    text-decoration: none;
    color: #3795E2;
}

span {
    text-decoration: underline;
}

.dauph{
    width: 10%;
}
.A2{
	width:50%;
}

/* NOTATION */

.B1 {
    display: none;
}

.D1 {
    display: none;
}

.F1 {
    display: none;
}


/*********************************/

.b {
    text-decoration: none;
    color: silver;
}

.note2 {
    text-decoration: none;
}

input:focus~.labelButon {
    color: orange;
}


/*
.B2 {
    display: none;
}

.D2 {
    display: none;
}

.F2 {
    display: none;
}


/**************************************/


/*
.test4:hover .B2 {
    display: block;
}

.test4:hover .A2 {
    display: none;
}


/**/


/*
.test4:hover .D2 {
    display: block;
}

.test4:hover .C2 {
    display: none;
}


/**/


/*
.test4:hover .F2 {
    display: block;
}

.test4:hover .E2 {
    display: none;
}


/******************/

.ligne1,
.ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Pour supprimer l'espacement entre 2 images */

.test1,
.test4 {
    display: inline-flex;
    justify-content: center;
}