/* Commentaires Plage */

#CommentairesPlage {
    text-align: center;
}


/* Titre */

.TitreCommentairesPlage {
    background-color: #3795E2;
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 3%;
}


/* Section */

.SectionCommentairesPlage {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

@media screen and (max-width:768px) {
    .SectionCommentairesPlage {
        flex-direction: column;
        width: 95%;
        color: #00000033;
    }
}


/* Ecriture du Commentaire */

.PartieGauche {
    margin: 2%;
}


/* Recherche commentaires plage */

.RechercheCommentairesPlage {
    background-color: #3B5773;
    width: 85%;
    margin-left: 5%;
    margin: auto;
    color: white;
    padding: 1%;
    margin: 6%;
}

.ChampEnvoiCommentairesPlage input {
    background-color: #3B5773;
    width: 90%;
    margin: auto;
    color: white;
    padding: 2%;
}

.ChampDeRechercheCommentairesPlage input {
    background-color: white;
    width: 40%;
    margin: auto;
    color: #3B5773;
    padding: 2%;
    margin-bottom: 5%;
}

.RechercheCommentairesPlage .ChampEnvoiCommentairesPlage input {
    margin-top: 10%;
}


/* Base */

.BaseCommentairesPlage {
    background-color: #3B5773;
    width: 90%;
    margin: auto;
    padding: 1%;
    margin: 2%;
    margin: auto;
    height: 500px;
    overflow-y: scroll;
}


/* Début commentaires plage */

.DebutCommentairesPlage {
    background-color: white;
    color: #3795E2;
    padding: 2%;
    margin: 2%;
    margin-left: 5%;
    overflow-wrap: break-word;
}

.répondre {
    color: #0A5957;
    border: 1px solid black;
    padding: 1.5%;
    font-size: 70%;
    border-radius: 10px;
}

.répondre:hover {
    color: #3795E2;
}

.DateEnvoi {
    font-size: 70%;
    margin: auto;
    color: black;
}


/* Réponse commentaires plage */

.ReponseCommentairesPlage {
    background-color: rgb(241, 239, 239);
    color: #3795E2;
    padding: 2%;
    margin: 2%;
    margin-left: 15%;
    overflow-wrap: break-word;
}

.Entete {
    display: flex;
    justify-content: space-between;
}

.Contenu .Texte {
    color: #0A5957;
}

::placeholder {
    font-size: 80%;
    text-align: center;
}

#lieu {
    height: 3.8vw;
    border: 0px;
}

@media screen and (max-width:768px) {
    #lieu {
        height: 7vw;
    }
}