.details {
    background-color: #0A5957;
    color: white;
    text-align: center;
}

.details a {
    text-decoration: none;
    color: #3795E2;
}

span {
    text-decoration: underline;
}

img {
    width: 10%;
}


/* NOTATION */

.B1 {
    display: none;
}

.D1 {
    display: none;
}

.F1 {
    display: none;
}


/*********************************/

.b {
    text-decoration: none;
    color: silver;
}

.note {
    text-decoration: none;
}

.fond {
    background: url('../img/DauphinBleu.png');
    width: 50px;
    height: 50px;
}

.labelButon {
    background: url('../img/DauphinBleu.png');
    background-color: red;
}

input:focus~.labelButon {
    color: orange;
}


/*
.B2 {
    display: none;
}

.D2 {
    display: none;
}

.F2 {
    display: none;
}


/**************************************/


/*
.test4:hover .B2 {
    display: block;
}

.test4:hover .A2 {
    display: none;
}


/**/


/*
.test4:hover .D2 {
    display: block;
}

.test4:hover .C2 {
    display: none;
}


/**/


/*
.test4:hover .F2 {
    display: block;
}

.test4:hover .E2 {
    display: none;
}


/******************/

.ligne1,
.ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Pour supprimer l'espacement entre 2 images */

.test1,
.test4 {
    display: inline-flex;
    justify-content: center;
}