body {
    background-color: #0f8581;
}

.cadre_critere {
    background-color: #3B5573 !important;
}

.lport {
    color: #3792E2 !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.affichage {
    background-color: #ffffff !important;
}

.lien {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .lport {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 768px) {
    .lport {
        width: 100%;
    }
    .body {
        font-size: 50vw !important;
    }
}