body{
   
  font-family: 'Montserrat', sans-serif;
   
}


:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(10rem);
}

figure {
    
    position: absolute;
    width: 200%;
    height: 100%;
    display: inline-flex;
    transition: .2s;
    margin: -0% -0%;
     z-index: 11;
   
}


h4{
   position: relative;
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
 font-family: 'Montserrat', sans-serif;
   z-index: 10;
    height: 95%;
    
   
   
   
  }
img{
    
    width:100%;
    height: 100%;
    opacity: 100%;
    border-radius: 5px;
    z-index: 10;
    
}




/* ***************************   BLOCKCHAIN  **************************** */

/* ***************************   PART 1  **************************** */
#container_1_btc{
    right: 0;
    top: 0;
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    
 
}

#container_1_btc ul{
    position: absolute;
    z-index: 600;
    width: 30%;
    display: inline-flex;
    height: 1%;
     right: 3%;
    margin: 0;
    padding-top: 10px;
   
    
    
}


#transition{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    z-index: 1000;
   
    
    
        
    
}


ul li{
   position: absolute;
    float: left;
    width:30%;
    height: 35px;
     display: table-cell;
    align-content:center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-right: -2em;
    font-weight: bold;
     transition: .8s;
      transition: .8s;
    text-decoration: none;
    color: grey
    
}

#nav_1{
    padding-left: 5%;
   left: 0;  
     display: grid;
     cursor: pointer;

   
    
  
}

#nav_2{
    left: 30.5%;
    cursor: pointer;
      display: grid;
   
}


#nav_3{
   left: 61%;
         display: grid;
     cursor: pointer;

   
}

ul li:hover{
    color: white;
    
    
}

a{
    transition: .8s;
    text-decoration: none;
    color: grey
}


#tittle_1{
    z-index: 15;
    position: absolute;
    color: red;
    z-index: 350;
    left: 23%;
    width: 42%;
    height: 20%;
    margin-top: 0;
    padding: 0;
    
   
    
    
    
}

#tittle_1 p{
    position: absolute;
       font-size: 2.3em;
    top: 30%;
    left: 20%;
    margin: 0;
    
    
    
}



#tittle_1 h5{
   
    font-size: 2.9em;
    margin: 0;
    
}




#tittle_2{
    z-index: 15;
    position: absolute;
    color: red;
    z-index: 350;
    left: 25%;
    top: 100%;
    width: 42%;
    height: 20%;
    margin-top: 0;
    padding: 0;
      
   
    
    
    
}

#tittle_2 p{
    position: absolute;
       font-size: 2.3em;
    font-weight: bold;
    left: 20%;
    margin: 0;
    
    
    
}



#tittle_2 h5{
   
    font-size: 2.9em;
    margin: 0;
    
}



#tittle_3{
    z-index: 15;
    position: absolute;
    color: red;
    z-index: 350;
    left: 25%;
    top: 200%;
    width: 42%;
    height: 20%;
    margin-top: 0;
    padding: 0;
      
   
    
    
    
}

#tittle_3 p{
    position: absolute;
       font-size: 2.3em;
    top: 30%;
    left: 20%;
    margin: 0;
     font-weight: bold;
    
    
}



#tittle_3 h5{
   
    font-size: 2.9em;
    margin: 0;
    
}



#background_color_btc{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgb(34,12,110);
    background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    
    
}





#next{
    position: absolute;
    z-index: 90;
    left: 57%;
    bottom: 4%;
    width: 8%;
    height: 5%;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: table-cell;
    justify-content: center;
    letter-spacing: .3rem;
    transition: .5s;
    outline: none;
     cursor: pointer;
    transform: rotateY(200%);
    
}

#next:hover{
    background-color: white;
    color: #150840;
    
}


#previous{
    position: absolute;
    z-index: 90;
    left: 38%;
    bottom: 4%;
    width: 8%;
    height: 5%;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: table-cell;
    justify-content: center;
    letter-spacing: .3rem;
    transition: .5s;
    outline: none;
     cursor: pointer;
      transform: rotateY(200%);
    
}

#previous:hover{
    background-color: white;
    color: #150840;
    
}

#reload_button{
    position: absolute;
    z-index: 90;
    z-index: 90;
     display: block;
    left: 3%;
    top: 2.5%;
    width: 12%;
    height: 5%;
    background: none;
    border: 2px solid white;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: table-cell;
    justify-content: center;
    letter-spacing: .3rem;
    transition: .5s;
    outline: none;
    transform: translateY(-150%);
    
}


#reload_button a{
    z-index: 150;
    color: white;
}

#reload_button:hover a{
    z-index: 150;
    color: black;
}


#reload_button:before{
   position: absolute;
    content: '';
     border: 1px solid transparent;
    height: 100%;
    width: 0%;
    right:50%;
    top: 0;
    z-index: -50;
    box-sizing: border-box;
    transition: .3s;

}


#reload_button:after{
   position: absolute;
    content: '';
    border: 1px solid transparent;
    height: 100%;
    width: 0%;
    top: 0;
      z-index: -50;
    left:50%;
    transition: .3s;
}

#reload_button:hover:before {
    width: 50%;
    background: white;
}
#reload_button:hover:after {
    width: 50%;
    background: white;
}


#scroll{
    position: relative;
     height: 100%;
    width: 100%;
       transition: 1s;
    scroll-behavior: smooth;
   
   
}
   
#point{
   position: absolute;
     width: 1px;
    height: 1%;
    bottom: 6%;
    left: 48.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
        border:none;
     background: white;
    outline: none;
     cursor: pointer;
    
}
#point2{
   position: absolute;
     width: 1px;
    height: 1%;
   bottom: 6%;
    left: 50.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
     border:none;
     background: grey;
   outline: none;
     cursor: pointer;
}
   
#point3{
     position: absolute;
     width: 1px;
    height: 1%;
   bottom: 6%;
    left: 52.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
        border:none;
     background: grey;
     outline: none;
     cursor: pointer;
}
   
#point4{
     position: absolute;
     width: 1px;
    height: 1%;
    bottom: 6%;
    left: 54.5%;
    z-index: 500;
    right: 2%;
    border-radius: 100%;
     border:none;
    background: grey;
     outline: none;
     cursor: pointer;
}
   


#content_1{
    
    position: absolute;
    width: 100%;
        height :100%;
    color: #b72714;
    opacity:none;
    z-index: 150; 
  
    
}


#content_lecture{
    z-index: 15;
    width: 40em;
    height: 70%;
    position: absolute;
     z-index: 150;
    top:20%;
    left: 5%;
    color: white;
    text-align: center;
    
}

#content_lecture p{
    font-size: 1.35em;
}

#one{
  position: absolute;
    top: 0;
    z-index: 1;
       transition: 1s;
    
    
   

}

#two{
    position: absolute;
    z-index: -1;
    top: 100%;
       transition: 1s;
    
   
}

#three{
    position: absolute;
    z-index: -1;
      top: 200%;
       transition: 1s;
    
  
}

#four{
    position: absolute;
    z-index: -1;
      top: 300%;
       transition: 1s;
     
    
}

#master_1{
    position: absolute;
    z-index: 200;
    width: 25em;;
    height: 30em;
    right: 4%;
    top: 22%;
    
    
        
}


#master_content{
       position: absolute;
    z-index: 220;
    width: 99%;
    height: 99%;
       background-size: cover;
  background-blend-mode: overlay;
       transform-style: preserve-3d;
      transition: transform 1s;
 
    

   
        
    
}

#master_1:hover #master_content{
   transform: rotateY(0.5turn);
    transition: 1s;
}

#master_back{
     position: absolute;
    z-index: 200;
    top: 0%;
    width: 100%;
    height: 100%;
     transform-style: preserve-3d;
      transition: transform 1s;
    transform: rotateY(0.5turn);
    background: #030e21;
    border-radius: 5px;  
    text-align: center;
    color: white;
  
}

#master_content:before{
    content: '';
    position: absolute;
       width: 99%;
    height: 99%;
   
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}

#master_content:hover:before{
    transform: rotateY(1turn);
    transition: 1s;
     transform-style: preserve-3d;
}



#master_back:before{
    content: '';
    position: absolute;
    left: 0%;
       width: 99%;
    height: 99%;
    border: 1px solid white;
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}
#master_back h3{
    padding: 5% 5%;
     transform: var(--level-two);
       
}

#master_back p{
    padding: 5% 5%;
       transform: var(--level-two); 
}

/* **************** PARTIE 2 **************** */




#background_color_btc_2{
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(34,12,110);
background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    top: 100%;
    
    
}





#master_content_2{
       position: absolute;
    z-index: 600;
    width: 100%;
    height: 100%;
       background-size: cover;
  background-blend-mode: overlay;
       transform-style: preserve-3d;
      transition: .8s;
    

   
        
    
}


#master_2{
    position: absolute;
    width: 25em;
    height:25em;
    right: 2%;
    top: 130%;
    
}


#master_2:hover #master_content_2{
     z-index:600;
   transform: rotateY(0.5turn);
    transition: .8s;
}

#master_back_2{
     position: absolute;
    z-index: 600;
    top: 0%;
    width: 100%;
    height: 100%;
     transform-style: preserve-3d;
      transition:  .8s;
    transform: rotateY(0.5turn);
    background: #030e21;
    border-radius: 5px;  
    text-align: center;
    font-size: 90%;
    color: white;
  
}

#master_content_2:before{
    content: '';
    position: absolute;
       width: 99%;
    height: 99%;
    border: 1px solid white;
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}

#master_back_2 h3{
    padding: 5% 5%;
     transform: var(--level-two);
       
}

#master_back_2 p{
    padding: 5% 5%;
       transform: var(--level-two); 
}


#content_lecture_2 {
    width: 30em;
    position: absolute;
     z-index: 150;
    top:125%;
    left: 5%;
    color: white;
    font-size: 1.45em;
    text-align: center;
}



#background_color_btc_2{
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(34,12,110);
background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    opacity: 0.55;
    top: 100%;
    
    
}

/* ********************************* PART 3 ********************************/



#master_content_3{
       position: absolute;
    z-index: 600;
    width: 100%;
    height: 100%;
       background-size: cover;
  background-blend-mode: overlay;
       transform-style: preserve-3d;
      transition: .8s;
    

   
        
    
}


#master_3{
    position: absolute;
    width: 25%;
    height: 50%;
    right: 2%;
    top: 230%;
    
}


#master_3:hover #master_content_2{
     z-index:600;
   transform: rotateY(0.5turn);
    transition: .8s;
}

#master_back_3{
     position: absolute;
    z-index: 600;
    top: 0%;
    width: 100%;
    height: 100%;
     transform-style: preserve-3d;
      transition:  .8s;
    transform: rotateY(0.5turn);
    background: #030e21;
    border-radius: 5px;  
    text-align: center;
    color: white;
  
}

#master_content_3:before{
    content: '';
    position: absolute;
       width: 99%;
    height: 99%;
    border: 1px solid white;
     transform: var(--level-two);
     transform-style: preserve-3d;
    border-radius: 5px;         
    
}

#master_back_3 h3{
    padding: 5% 5%;
     transform: var(--level-two);
       
}

#master_back_3 p{
    padding: 5% 5%;
       transform: var(--level-two); 
}


#content_lecture_3 {
    width: 25em;
    position: absolute;
     z-index: 150;
    top:225%;
    left: 5%;
    color: white;
    font-size: 1.45em;
    text-align: center;
}

#background_color_btc_3{
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(34,12,110);
background: radial-gradient(circle, rgba(34,12,110,1) 17%, rgba(46,12,92,1) 33%, rgba(16,5,52,1) 47%, rgba(4,0,24,1) 62%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    top: 200%;
    
    
}


/**************************** PART 4 **********************/




#hello{
    position: absolute;
    width: 80%;
   height: 70%;
    background: black;
    z-index: 5000;
    left: 8.5%;
    opacity: 0.90;
    color: white;
     z-index: 150;
    top:310%;
    color: white;
    font-size: 1.4em;
    padding: 2%;
  
    
}

#hello p{
    top:2%;
    left: 5%;
    color: white;
    font-size: 1.45em;
    text-align: center;
    
}

#background_color_btc_4{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255,0,78);
background: radial-gradient(circle, rgba(255,0,78,1) 0%, rgba(111,36,129,1) 27%, rgba(57,22,126,1) 52%, rgba(49,15,103,1) 65%, rgba(36,9,71,1) 76%, rgba(37,7,70,1) 80%, rgba(30,4,47,1) 88%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%);
    z-index: 14;
    opacity: 0.55;
    top: 300%;
    
    
}

/***** TRANSITION*******/

#transition_page_1{
    
    position: absolute;
    width: 50%;
    height: 100%;
background: rgb(2,1,23);
background: linear-gradient(90deg, rgba(2,1,23,1) 0%, rgba(4,4,46,1) 100%);
    top: 0;
    left: 0;
    z-index: 1200;
     color: white;
    transition: 1s;

    
}

#transition_page_1 h5{
    position: absolute;
    font-size: 3em;
    top: 35%;
    right: 0;
    padding: 5% 0% 5% 5%;
    border: 1px solid white;
    border-right: none;
}


#transition_page_2 h5{
    position: absolute;
    font-size: 3em;
    top: 35%;
    border: 1px solid white;
    border-left: none;
    padding: 5% 5% 5% 0%;
}

#transition_page_2{
    
    position: absolute;
    width: 50%;
    height: 100%;
background: rgb(4,4,46);
background: linear-gradient(90deg, rgba(4,4,46,1) 0%, rgba(5,5,60,1) 100%);
    top: 0;
    right:0;
    z-index: 1200;
    color: white; 
    transition: 1s;
    
    
}


/***************** MEDIA QUERIES ***********************/

/*Horizonal*/

@media all and (min-width:1200px) and (max-width:1980px) and (min-height:600px)and (max-height:752px){
  
    /*PART 1*/
    
    #content_lecture{
        width: 50em;
        font-size: 0.9em;
       
    }
    
    #tittle_1 h5{
        font-size: 2em;
    }
    
     #tittle_1 p{
        font-size: 1.6em;
    }
    
    #master_1{
        height: 24em;
    }
    
    /*PART 2*/
    
    #content_lecture_2{
        width: 30em;
        font-size: 1.3em;
       
    }
    
    #tittle_2 h5{
        font-size: 2em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
    }
    
    #master_2{
        height: 20em;
    }
    /*PART 3*/
    
       #tittle_3 h5{
        font-size: 2em;
    }
    
     #tittle_3 p{
        font-size: 1.4em;
    }
 
    #content_lecture_3{
        top: 215%;
        left: 10%;
        width: 30em;
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 1.2em;
    }
}
@media all and (min-width:1200px) and (max-width:1980px) and (min-height:0px)and (max-height:599px){
  
    /*PART 1*/
    
    #content_lecture{
        width: 50em;
        font-size: 0.8em;
       
    }
    
    #tittle_1 h5{
        font-size: 2em;
    }
    
     #tittle_1 p{
        font-size: 1.6em;
    }
    
    #master_1{
        height: 22em;
    }
    
    /*PART 2*/
    
    #content_lecture_2{
        width: 30em;
        font-size: 1.3em;
       
    }
    
    #tittle_2 h5{
        font-size: 2em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
    }
    
    #master_2{
        height: 20em;
    }
    /*PART 3*/
    
       #tittle_3 h5{
        font-size: 2em;
    }
    
     #tittle_3 p{
        font-size: 1.4em;
    }
 
    #content_lecture_3{
        top: 215%;
        left: 10%;
        width: 30em;
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 1.1em;
    }
  
}



@media all and (min-width:900px) and (max-width:1200px) and (min-height:650px)and (max-height:852px){
  
    /*PART 1*/
    
    #content_lecture p{
        width: 25em;
        font-size: 1em;
       
    }
    
    #tittle_1 h5{
        font-size: 2em;
    }
    
     #tittle_1 p{
        font-size: 1.6em;
    }
    
    #master_1{
        height: 22em;
        width: 21em;
    }
    
    /*PART 2*/
    
    #content_lecture_2{
        width: 25em;
        font-size: 1em;
       
    }
    
    #tittle_2 h5{
        font-size: 2em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
    }
    
    #master_2{
        height: 20em;
    }
    /*PART 3*/
    
       #tittle_3 h5{
        font-size: 2em;
    }
    
     #tittle_3 p{
        font-size: 1.4em;
    }
 
    #content_lecture_3{
        top: 215%;
        left: 10%;
        width: 30em;
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 1em;
    }
    
      /*BUTTON*/
    
    #next {
        left: 65%;
        width: 15%;
    }
    
    #previous {
         left: 25%;
        width: 15%;
    }
    
    #reload_button {
        font-size: 100%;
        box-sizing: content-box;
        font-size: 0.6em;
    }
    
    #point{
        left: 45%;
    }
    
     
    #point2{
         left: 49%;
    }
    
     
    #point3{
        left: 53%; 
    }
    
     
    #point4{
         left: 57%;
    }
}
@media all and (min-width:900px) and (max-width:1200px) and (min-height:0px)and (max-height:650px){
  
    /*PART 1*/
    
    #content_lecture{
      
        width: 35em;
        font-size: 0.6em;
       
    }
    
    #tittle_1h5{
        font-size: 2em;
    }
    
     #tittle_1 p{
        font-size: 1.6em;
    }
    
    #master_1{
        height: 22em;
        width: 19em;
    }
    
    /*PART 2*/
    
    #content_lecture_2{
        width: 28em;
        font-size: 0.9em;
       
    }
    
    #tittle_2 h5{
        font-size: 2em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
    }
    
    #master_2{
        height: 20em;
       
    }
    /*PART 3*/
    
       #tittle_3 h5{
        font-size: 2em;
    }
    
     #tittle_3 p{
        font-size: 1.4em;
    }
 
    #content_lecture_3{
        top: 215%;
        left: 10%;
        width: 30em;
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 0.9em;
    }
    
      /*BUTTON*/
    
    #next {
        left: 65%;
        width: 15%;
    }
    
    #previous {
         left: 25%;
        width: 15%;
    }
    
    #reload_button {
        font-size: 100%;
        box-sizing: content-box;
        font-size: 0.6em;
    }
    
    #point{
        left: 45%;
    }
    
     
    #point2{
         left: 49%;
    }
    
     
    #point3{
        left: 53%; 
    }
    
     
    #point4{
         left: 57%;
    }
  
}
/*vetical*/


@media all and (min-width:900px) and (max-width:1200px) and (min-height:852px)and (max-height:1080px){
  
    /*PART 1*/
    
    #content_lecture{
        width: 30em;
        font-size: 0.8em;
       
    }
    
    #tittle_1 h5{
        font-size: 2em;
    }
    
     #tittle_1 p{
        font-size: 1.6em;
    }
    
    
    /*PART 2*/
    
    #content_lecture_2{
        width: 20em;
        font-size: 1.1em;
       
    }
    
    #tittle_2 h5{
        font-size: 2em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
    }
    
    
    /*PART 3*/
    
       #tittle_3 h5{
        font-size: 2em;
    }
    
     #tittle_3 p{
        font-size: 1.4em;
    }
 
    #content_lecture_3{
        left: 10%;
        width: 30em;
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 1.2em;
    }
    
    /*BUTTON*/
    
    #next {
        left: 65%;
        width: 15%;
    }
    
    #previous {
         left: 25%;
        width: 15%;
    }
    
    #reload_button {
        font-size: 100%;
        box-sizing: content-box;
        font-size: 0.6em;
    }
    
    #point{
        left: 45%;
    }
    
     
    #point2{
         left: 49%;
    }
    
     
    #point3{
        left: 53%; 
    }
    
     
    #point4{
         left: 57%;
    }
}


@media all and (min-width:500px) and (max-width:900px) and (min-height:852px)and (max-height:1080px){
  
    /*PART 1*/
    
    #tittle_1{
        top: 10%;
        left:3%;
        width: 100%;
            
    }
    
    #content_lecture{
        width: 90%; 
        font-size: 0.9em;
       
    }
    
    #tittle_1 h5{
        font-size: 1.8em;
  
    }
    
     #tittle_1 p{
        top: 25%;
         left: 0%;
        font-size: 1.6em;
    }
    
    #master_1{
        visibility: hidden;
    }
    
    /*PART 2*/
    
    #tittle_2{
        top: 111%;
        left:3%;
        width: 100%;
            
    }
    
    #content_lecture_2{
         width: 90%; 
        font-size: 1.3em;
    }
    
    #tittle_2 h5{
        font-size: 1.8em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
          left: 0%;
    }
    
    
    #master_2{
        visibility: hidden;
       
    }
    
    /*PART 3*/
    
    
    #tittle_3{
        top: 211%;
        left:3%;
        width: 100%;
            
    }
       #tittle_3 h5{
        font-size: 1.6em;
    }
    
     #tittle_3 p{
        font-size: 1.6em;
         left: 0%;
    }
 
    #content_lecture_3{
        width: 90%; 
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 0.9em;
    }
    
    /*BUTTON*/
    
    #next {
        left: 65%;
        width: 15%;
        font-size: 0.7em;
         letter-spacing: 2px;
    }
    
    #previous {
         left: 25%;
        width: 15%;
        font-size: 0.7em;
        letter-spacing: 2px;
    }
    
    #reload_button {
        width:20%;
        height: 4%;
        font-size: 100%;
        box-sizing: content-box;
        font-size: 0.55em;
        letter-spacing: 0.5px;
    }
    ul {
        
        width: 100%;
        left: 35%;
        top: 2%;
         padding-left: 15%;
        padding-right: 15%;
    }
  
    ul li{
        
          width: 20%;      
      
    }
    #point{
        left: 45%;
    }
    
     
    #point2{
         left: 49%;
    }
    
     
    #point3{
        left: 53%; 
    }
    
     
    #point4{
         left: 57%;
    }
    
    
}


@media all and (min-width:500px) and (max-width:900px) and (min-height:0px)and (max-height:900px){
  
    /*PART 1*/
    
    #tittle_1{
        top: 10%;
        left:3%;
        width: 100%;
            
    }
    
    #content_lecture{
        width: 90%; 
        font-size: 0.7em;
       
    }
    
    #tittle_1 h5{
        font-size: 1.8em;
  
    }
    
     #tittle_1 p{
        top: 25%;
         left: 0%;
        font-size: 1.6em;
    }
    
    #master_1{
        visibility: hidden;
    }
    
    /*PART 2*/
    
    #tittle_2{
        top: 111%;
        left:3%;
        width: 100%;
            
    }
    
    #content_lecture_2{
         width: 90%; 
        font-size: 1.3em;
    }
    
    #tittle_2 h5{
        font-size: 1.8em;
    }
    
     #tittle_2 p{
        font-size: 1.6em;
          left: 0%;
    }
    
    
    #master_2{
        visibility: hidden;
       
    }
    
    /*PART 3*/
    
    
    #tittle_3{
        top: 211%;
        left:3%;
        width: 100%;
            
    }
       #tittle_3 h5{
        font-size: 1.6em;
    }
    
     #tittle_3 p{
        font-size: 1.6em;
         left: 0%;
    }
 
    #content_lecture_3{
        width: 90%; 
        font-size: 1.4em;
       
    }
    
    /*PART4*/
    
    #hello{
        font-size: 0.9em;
    }
    
    /*BUTTON*/
    
    #next {
        left: 65%;
        width: 15%;
        font-size: 0.7em;
         letter-spacing: 2px;
    }
    
    #previous {
         left: 25%;
        width: 15%;
        font-size: 0.7em;
        letter-spacing: 2px;
    }
    
    #reload_button {
        width:20%;
        height: 4%;
        font-size: 100%;
        box-sizing: content-box;
        font-size: 0.55em;
        letter-spacing: 0.5px;
    }
    ul {
        
        width: 100%;
        left: 35%;
        top: 2%;
         padding-left: 15%;
        padding-right: 15%;
    }
  
    ul li{
        
          width: 20%;      
      
    }
    #point{
        left: 45%;
    }
    
     
    #point2{
         left: 49%;
    }
    
     
    #point3{
        left: 53%; 
    }
    
     
    #point4{
         left: 57%;
    }
    
    
}

/**** samrtphone ****/


@media screen and (min-device-width:250px)and (max-device-width:500px) and (min-device-height:400px)and (max-device-height:900px){
  
   
    
    #tittle_1{
        top: 10%;
        left: 3%;
    }
    
    #tittle_1 p {
        left: 0%;
        top: 20%;
        
        
    }
    
    #content_lecture{
        top: 30%;
        font-size: 1.4em;
    }
    
    #master_1{
        visibility: hidden;
    }
  /* PART 2   */ 
    
    #master_2{
        visibility: hidden;
    }
    
     #content_lecture_2{
        margin-left: 10%;
    }
    
    #content_lecture_2 p{
        font-size: 1.5em;
    }
    #tittle_2{
        top: 110%;
        left: 3%;
    }
        #tittle_2 p{
        top: 20%;
        left: 0%;
    }
    
     /* PART 3 */ 
    
    #master_2{
        visibility: hidden;
    }
    
     #content_lecture_3{
        margin-left: 15%;
    }
    
    #content_lecture_3 p{
        font-size: 1.5em;
    }
    
    #tittle_3{
        top: 210%;
        left: 3%;
    }
    
        #tittle_3 p{
        top: 20%;
        left: 0%;
    }
    
     /* PART 3 */ 
    
    #hello{
        font-size: 1.6em;
    }
/*  BUTTON */
    
    ul {
        font-size: 1.4em;
         width: 100%;
        left: 38%;
        top: 2%;
         padding-left: 17%;
        padding-right: 15%;
    }
  
    ul li{
          
        color: white;
          width: 20%;      
      
    }
    
     #reload_button{
        top: 2%;
        height: 3%;
         font-size: 1.4em;
        width: 30%;
    }
    
    #next{
        left: 62%;
        width: 30%;
        font-size: 1.5em;
    }
    
     #previous{
         left: 8%;
        width: 30%;
        font-size: 1.5em;
    }
    
    #point{
      left: 43%;  
    }
    
     
    #point2{
        left: 48%; 
    }
    
     
    #point3{
       left: 53%; 
    }
    
     
    #point4{
        left: 58%; 
    }
}

