body {
  margin: 0px;
    background-color: rgba(149, 179, 84, 0.3);
  transition: background-color 2s;
}
#switch
{
	

  width:100%; 
  height:3vw;
}
#dark
{
	font-size: 2vw;
	padding:0;
	margin: 0;
	float:right;
	outline: none;
	background-color:black;
	color:white;
	transition: background-color 2s;
}
.darkmode
{
	background-color:black!important;
	color:white;
	transition: background-color 2s;
}
.darkgreymode
{
	background-color:darkslategrey!important;
	color:white;
	transition: background-color 2s;
}
.lightmode
{
	background-color:white!important;
	color:black!important;
	transition: background-color 2s;
}
h1, h2, h3, h4 {
    color: cadetblue;
}

#hanoi-header {
    min-height: 10vh;
    background-color: darkcyan;
	display: block ruby;
	transition: background-color 2s;
	text-align:center;
}
#hanoi-header > h1 {
    font-size: 7vh;
    margin: 0rem;
    padding: 1vh;
    color: antiquewhite;
}

#scoreboard {
    min-width: 5rem;
    z-index: 6;
    opacity: 0;
    position: absolute;
    right: 3rem;
    font-size: 6rem;
    color: #5c494d;
}
#scoreboard:before {
    content: 'Moves ';
    font-size: 0.5em;
    color: #666;
}

#gameBoard {
    min-height: 88vh;
    position: relative;
	display:flex;
	width:100%;

}

.column {
    opacity: 0;
    flex: 1;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

.column:before {
    content: '';
    width: 1.2rem;
    background: #7a7162;
    height: 24rem;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}

.column:not(.selected):hover {
    background: rgba(179, 178, 217, 0.5);
}
.column.selected {
    background: rgba(179, 178, 217, 0.8);
}

.disc {
    height: 3rem;
    background: #555;
    border-radius: .4rem;
    width: 30%;
    position: absolute;
    bottom: 0rem;
    margin: auto;
    transition: 1s;
}

.disc:nth-last-of-type(1) {bottom: 0.1rem;}
.disc:nth-last-of-type(2) {bottom: 3.2rem;}
.disc:nth-last-of-type(3) {bottom: 6.3rem;}
.disc:nth-last-of-type(4) {bottom: 9.4rem;}
.disc:nth-last-of-type(5) {bottom: 12.5rem;}
.disc:nth-last-of-type(6) {bottom: 15.6rem;}
.disc:nth-last-of-type(7) {bottom: 18.7rem;}

.disc.layer1 {
    width: 5rem;
    left: calc(50% - 2.5rem);
    background: red;
}
.disc.layer2 {
    width: 8rem;
    left: calc(50% - 4rem);
    background: orange;
}
.disc.layer3 {
    width: 11rem;
    left: calc(50% - 5.5rem);
    background: yellow;
}
.disc.layer4 {
    width: 14rem;
    left: calc(50% - 7rem);
    background: green;
}
.disc.layer5 {
    width: 17rem;
    left: calc(50% - 8.5rem);
    background: blue;
}
.disc.layer6 {
    width: 20rem;
    left: calc(50% - 10rem);
    background: blueviolet;
}
.disc.layer7 {
    width: 23rem;
    left: calc(50% - 11.5rem);
    background: violet;
}
.column.selected > .disc:first-of-type {
    top: -10rem;
}

#options {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    z-index: 10;
}
#options h1, #options h2 {
    text-align: center   
}
#options h1 {
    font-size: 6vw;
}
#options h2 {
    font-size: 6rem;
}

.button-row {
    display: flex;
    margin: 5rem auto 0rem auto;

}

button {
    flex: 1;
    cursor: pointer;
    margin: 0rem 2rem;
    background-color: transparent;
    font-size: 2.5vw;
    border: solid .1rem #5c494d;
    border-radius: .6rem;
    padding: 2rem 1rem;
    color: #5c494d;
}

button:hover {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.22);
}

#win {
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 0rem;
    top: 0rem;
    font-size: 2em;
    opacity: 0;
    width: 100%;
    min-height: 80vh;
}


@media only screen and (max-width : 768px) {
     html {
        font-size: 5px;
     }
     .button-row {
        flex-direction: column;
     }
     .button-row > button {
        font-size: 5rem;
        border-width: 0.5rem;
        margin-bottom: 0.5rem;
     }
     #options h1 {
        font-size: 4em;
        text-align: center;
     }
}

@media only screen and (max-width : 480px) {
    #hanoi-header > h1 {
        text-align: center;
        font-size: 7rem;
        margin: 0rem;
    }
}