@media screen and (max-width:778px) {
    .IntroductionMer {
        width: 95%;
        padding: 0.2%;
    }
    .IntroductionMer .Contenue {
        flex-direction: column;
        margin: auto;
        width: 95%;
    }
    .IntroductionMer .Texte {
        margin-right: 1%;
        margin-left: 1%;
    }
    .IntroductionMer .Partager {
        margin: auto;
        width: 50%;
        margin-bottom: 5%;
    }
}