html,
body {
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    right: 0.5em;
    top: 0;
    color: white;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 2vw;
}

nav ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: 0;
}

.CIGALE {
    height: 44vh;
}

.Parallax {
    height: 135vh;
}

.Hauteur {
    height: 307vh;
}

.nav_reseau {

    height: 128vh;

}

.text_contenu {
    font-size: 1vw;
}

.titre_orange {
    font-size: 1vw !important;
}

.nav-link {
    font-size: 1.3vw;
}

.navbar-toggler-icon {
    width: 2vw;
    height: 1vw;
}

.bg-rouge {
    background-color: transparent;
    /*#ea5a00;*/
    /*opacity: 0.50;*/
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    opacity: 1 !important;
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    background-color: rgba(118, 0, 0) !important;
}

.reseaux {
    width: 3vw;
}

.logo {
    width: 6vw;
    float: right;
    margin-right: 4vw;
}

.titreLogo {
    writing-mode: vertical-lr;
}

.spinner-grow {
    display: none;
}

.SeparateurMarron {
    border: 2px solid #c6692f;
    width: 350px;
    transform: rotate(90deg);
    margin-top: 7em;
}

.blocTextHero {
    margin-top: 10em;
    margin-right: -5em;
}

.textesHero {
    margin-right: -6em;
}

.GrosTitre {
    font-size: 5em;
}

.bgJumbotron {
    background-color: transparent !important;
}

.SeparateurHero {
    border: 2px solid #c6692f;
    width: 250px;
    transform: rotate(90deg);
}

.text-blanc {
    color: #dedcdc;
}

/*ENCART*/
.roundedEncart {
    border-radius: 20px;
    margin-top: -5em;
}

.cigale1 {
    position: relative;
    top: -30vh;
    transform: rotate(-27deg);
    left: -5vw;
    width: 6vw !important;
}

.cigale2 {
    position: relative;
    top: -20vh;
    transform: rotate(20deg);
    width: 4vw !important;
}

.hrProfil {
    right: 0;
    width: 52vw;
    background-color: chocolate;
    font-size: 5px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.hrProfil2 {
    width: 52vw;
    background-color: chocolate;
    font-size: 5px;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

/* SLIDE PROFIL */
.profilSlide {
    position: absolute;
    width: 45vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.profilSlide li {
    list-style: none;
    position: relative;
    width: 15%;
    height: 31vh;
    border-right: 3px solid rgb(255, 255, 255);
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
}

.profilSlide li:nth-child(1) {
    background: url(img/adrien.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(2) {
    background: url(img/aurelien.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(3) {
    background: url(img/bilal.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(4) {
    background: url(img/damien.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(5) {
    background: url(img/david.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(6) {
    background: url(img/jerome.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(7) {
    background: url(img/jeremy.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(8) {
    background: url(img/karima.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(9) {
    background: url(img/kenji.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(10) {
    background: url(img/marie.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(11) {
    background: url(img/marina.png);
    background-size: cover;
    background-position: left;
}

.profilSlide li:nth-child(12) {
    background: url(img/mathieu.png);
    background-size: cover;
    background-position: left;
}

.profilSlide:hover li {
    width: 9%;
}

.profilSlide li:hover {
    width: 32%;
}

.profilSlide li .contenu {
    position: absolute;
    bottom: -200%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.profilSlide li:hover .contenu {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}

.logoFooter {
    width: 7vw;
}

.copyright {
    position: absolute;
    margin-top: 56vh;
    margin-left: 2vw;
}

.contactFooter {
    position: absolute;
    margin-left: 65vw;
    margin-top: 8vh;
    transform: rotate(-15deg);
}

@media screen and (max-width:1366px) {
    .PC_view {
        display: none !important;
    }

    .PC2_view {
        display: none !important;
    }

    .tablet_view {
        display: block;
    }
}

@media screen and (min-width:1367px) {
    .PC_view {
        display: block;
    }

    .PC2_view {
        display: block;
    }

    .tablet_view {
        display: none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .GrosTitre {
        font-size: 3.5em;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        display: flex;
        justify-content: center;
    }

    .TxtIntro {
        margin-left: 11rem;
    }

}

@media screen and (max-width:767px) {
    .none_cigale {
        display: none !important;
    }
}

@media screen and (min-width:667px) and (max-width:667px) and (min-height:375px) and (max-height:375px) {
    .Parallax {
        height: 145vh;
    }

    .CIGALE {
        height: 59vh;
    }

    .Hauteur {
        height: 360vh;
    }

    .nav_reseau {
        height: 134vh;
    }

    .text_contenu {
        font-size: 1.3vw;
    }
}

@media screen and (min-width:736px) and (max-width:736px) and (min-height:414px) and (max-height:414px) {
    .Parallax {
        height: 140vh;
    }

    .CIGALE {
        height: 59vh;
    }

    .Hauteur {
        height: 360vh;
    }

    .nav_reseau {
        height: 129vh;
    }

    .text_contenu {
        font-size: 1.3vw;
    }
}

@media screen and (min-width:375px) and (max-width:375px) and (min-height:667px) and (max-height:667px) {
    .nav_reseau {

        height: 76vh;

    }

    .titre_orange {
        font-size: 2vw !important;
    }

    .image_pre {
        width: 23% !important;
    }

    .reseaux {
        width: 3.5vw;
    }

    .logo {
        width: 7vw;
        float: right;
        margin-right: 4vw;
    }

    .Parallax {
        height: 82vh;
    }

    .text_contenu {
        font-size: 2vw;
    }

    .CIGALE {
        height: 49vh;
    }
}

@media screen and (min-width:414px) and (max-width:414px) and (min-height:736px) and (max-height:736px) {
    .nav_reseau {

        height: 76vh;

    }

    .titre_orange {
        font-size: 2vw !important;
    }

    .image_pre {
        width: 23% !important;
    }

    .reseaux {
        width: 3.5vw;
    }

    .logo {
        width: 7vw;
        float: right;
        margin-right: 4vw;
    }

    .Parallax {
        height: 82vh;
    }

    .text_contenu {
        font-size: 2vw;
    }

    .CIGALE {
        height: 49vh;
    }
}

@media screen and (min-width:768px) and (max-width:768px) and (min-height:1024px) and (max-height:1024px) {
    .Parallax {
        height: 66.7vh;
    }

    .nav_reseau {

        height: 62vh;

    }

    .Hauteur {
        height: 257vh;
    }

    .titre_orange {
        font-size: 1.5vw !important;
    }

    .text_contenu {
        font-size: 1.2vw;
    }

    .cigale1 {
        position: relative;
        top: -16vh;
        transform: rotate(-27deg);
        left: -5vw;
        width: 6vw !important;
    }

    .cigale2 {
        position: relative;
        top: -13vh;
        transform: rotate(20deg);
        width: 4vw !important;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .GrosTitre {
        font-size: 4.5em;

    }

    .blocTextHero {
        margin-top: 5em;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        display: flex;
        justify-content: center;
    }

    .btnDecouvrir {}
}