.video-fond {
  width: 100%;
  height: auto;
  position: absolute;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  font-size: 9vw;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  margin-left: 0%;
  padding-right: 10%;
}

li {
  padding-right: 5%;
  margin-top: 2%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

ul .moiexpé a {
  color: red !important;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-size: 1.45vw !important;
}
