/* Commentaires Mer */

#CommentairesMer {
    background-color: #0F8581;
    height: 300px;
    text-align: center;
}


/* Titre */

.TitreCommentairesMer {
    background-color: #3795E2;
    width: 80%;
    margin: auto;
    color: white;
}


/* Section */

.SectionCommentairesMer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}


/* Base */

.BaseCommentairesMer {
    background-color: #3B5773;
    width: 80%;
    margin: auto;
    padding: 1%;
    margin: 2%;
}


/* Début commentaires mer */

.DebutCommentairesMer {
    background-color: white;
    width: 90%;
    margin: auto;
    color: #3795E2;
    padding: 1%;
    margin: 2%;
    margin-left: 5%;
}


/* Réponse commentaires mer */

.ReponseCommentairesMer {
    background-color: white;
    width: 75%;
    color: #3795E2;
    padding: 1%;
    margin: 2%;
    margin-left: 20%;
}


/* Recherche commentaires mer */

.RechercheCommentairesMer {
    background-color: #0A5957;
    width: 15%;
    margin-left: 5%;
    margin: auto;
    color: white;
    padding: 1%;
    margin: 2%;
}

.ChampEnvoiCommentairesMer input {
    background-color: #0A5957;
    width: 90%;
    margin: auto;
    color: white;
    margin-top: 10%;
    padding: 2%;
}

.ChampDeRechercheCommentairesMer input {
    background-color: white;
    width: 90%;
    margin: auto;
    color: #0A5957;
    margin-top: 20%;
    padding: 2%;
}