body{
    margin: 0;
    padding: 0;
}
.bgMer{
    background-image: url("../img/bgMer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 5600px;
    width: auto;
}
.reseauxGroupe{
    padding-top: 8vh;
}
.reseauxSociaux{
    width: 3vw;
}
.logoVarNature{
    width: 6vw;
    padding-top: 3vh;
}
.menuGroupe{
    padding-top: 8vh;
}
.menu{
    font-size: 2em;
    margin-right: 2em;
    color: black;
    text-decoration: none!important;
}
.noBullet{
    list-style-type: none;
}
.menu:hover{
    background-color: #0A5957;
    color: white;
}
.verticalLine{
    border: none;
    border-left: 3px solid black;
    height: 40px;
}
.separateurPoints{
    background-image: url("../img/separateurPoints.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: auto;
}
/* .mainArbre{
    padding-top: 3vh;
} */
.mainArbre{
    background-image: url("../img/mainArbre.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 65vh;
    position: relative;
}
.titrePrincipal{
    margin-top: -58vh;
    position: absolute;
}
.H3Header{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #0a5957;
    font-size: 3em;
}
.H1Header{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ea5a00;
    font-size: 4em;
}
.H5Header{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #0a5957;
}
/* SECTION LOGOS ECOLOS */
.surTitreLogo{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 1.9em;
}
.sousTitreLogo{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 2.9em;
    margin-top: -0.6em;
}
.paragrapheLogo{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 1.5em;
    margin-top: -0.5em;
}
/* SECTION IMAGE TERRE */
#myCanvas{
    position: absolute;
    margin-top: 17vh;
}
.titreTerreContainer{
    margin-left: -10vw;
    z-index: 2;
}
.titreCiel{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 5vw;
}

.titreTerre{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #a63f02;
    font-size: 9vw;
    margin-top: -3vh;
}
.blocParagrapheButton{
    margin-top: -18vh;
}
.paragrapheTerre{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 1.5vw;
   
}
/*BUTTON DECOUVRIR*/
.btnDecouvrir{
    border-radius: 0%;
    border: 7px solid white;
    font-size: 2vw;
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* SECTION IMAGE MER */
#myCanvas2{
    position: absolute;
    z-index: 5;
    margin-top: 17vh;
}
.titreMerContainer{
    text-align: right;
    z-index: 3;
    margin-left: 28vw;
    
}
.titreTerreEt{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ffffff;
    font-size: 5vw;
}

.titreMer{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #072f57;
    font-size: 9vw;
    margin-top: -3vh;
}
.blocParagrapheButtonMer{
    margin-top: 35vh;
}
.paragrapheMer{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 1.5vw;
    text-align: right;
   
}
/*BUTTON DECOUVRIR*/
.btnDecouvrir{
    border-radius: 0%;
    border: 7px solid white;
    font-size: 2vw;
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* HEBERGEMENT */

/* SECTION IMAGE HEBERGEMENT */
#myCanvas3{
    position: absolute;
    margin-top: 17vh;
}
.titreHebergementContainer{
    margin-left: -20vw;
    z-index: 2;
}
.titreHebergement{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ffffff;
    font-size: 9vw;
    margin-top: -3vh;
}
.blocParagrapheButtonHebergement{
    margin-top: -22vh;
}
.paragrapheHebergement{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 1.5vw;
   
}
/*BUTTON DECOUVRIR*/
.btnDecouvrir{
    border-radius: 0%;
    border: 7px solid white;
    font-size: 2vw;
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* SECTION IMAGE ACTIVITES */
#myCanvas4{
    position: absolute;
    z-index: 5;
    margin-top: 17vh;
}
.titreActivitesContainer{
    text-align: right;
    z-index: 3;
    margin-left: 28vw;
    
}
/* .titreTerreEt{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ffffff;
    font-size: 5vw;
} */

.titreActivites{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #f57c0b;
    font-size: 9vw;
   
}
.blocParagrapheButtonActivites{
    margin-top: 35vh;
}
.paragrapheActivites{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #3a3a3a;
    font-size: 1.5vw;
    text-align: right;
   
}
/*BUTTON DECOUVRIR*/
.btnDecouvrir{
    border-radius: 0%;
    border: 7px solid white;
    font-size: 2vw;
    font-family: 'Fira Sans Condensed', sans-serif;
}