.intro{
    background-image: url("../img/fond_eau_plan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: right;
}
.titrePrincipalMer{
    color: white;
	font-size: 15vw;
	font-weight: bold;
	line-height: ;
	margin-bottom: 0;
	margin-left: 10vw;
	font-family: 'Fira sans', sans serif;
	margin-top: 0;
	line-height:initial;
}
.row
{
	margin-left:0!important;
	margin-right:0!important;
}

.IntroductionMer {
    width: 65%;
    margin-top: 15vw;
    margin-left: 25%;
    margin-right: 5%;
    padding: 1%;
    font-family: Fira Sans Extra Condensed;
}
@media screen and (max-width: 1024px) {
    .IntroductionMer
	{
		width:90%;
		margin-top:24vw!important;
		margin:auto;
	}
}
.IntroductionMer h2 {
    color: #0a5957;
    text-align: right;
    margin-right: 5%;
    margin-left: 5%;
}

.IntroductionMer .Contenue {
    text-align: right;
}

.IntroductionMer .Texte {
    margin-right: 5%;
    margin-left: 5%;
}

.IntroductionMer .Source {
    margin-right: 5%;
    margin-left: 5%;
    font-style: italic;
}

.IntroductionMer .Partager {
    line-height: 150%;
    background-color: #0a5957;
    border: 0.7vw solid white;
    margin: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5%;
}

.IntroductionMer .Partager a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 500px){

    .IntroductionMer h2{
        font-size: 25px;
    }

    .IntroductionMer .Texte {
        font-size: 10px;
    }

    .IntroductionMer .Source {
        font-size: 3vw;
    }

    .IntroductionMer .Partager {
        font-size: 15px;
        width: 31vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 950px){

    .IntroductionMer h2{
        font-size: 5vw;
    }

    .IntroductionMer .Texte {
        font-size: 2vw;
    }

    .IntroductionMer .Source {
        font-size: 1.3vw;
    }

    .IntroductionMer .Partager {
        font-size: 3vw;
        width: 14vw;
    }
}

@media screen and (min-width: 950px){

    .IntroductionMer h2{
        font-size: 48.76px;
    }

    .IntroductionMer .Texte {
        font-size: 19.504px;
    }

    .IntroductionMer .Source {
        font-size: 12.6776px;
    }

    .IntroductionMer .Partager {
        font-size: 29.256px;
        width: 13vw;
    }
}