.carousel-control-prev-icon
{
	background-image: url("../img/fleche_prev.png");
	width:60%;
	height:60%;
}
.carousel-control-prev
{
	margin-left:0.5vw;
}
.carousel-control-next-icon
{
	background-image: url("../img/fleche_next.png");
	width:60%;
	height:60%;
}
.carousel-control-next
{
	margin-right:0.5vw;
}
.theme
{
	text-align:center;
	border: white solid;
	border-radius: 3vw;
	margin-left: 4%;
	margin-right: 4%;
	background-color:white;
	padding-bottom: 2vw;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.carousel-item.active
{
	margin-bottom:0!important;
	margin-top:0!important;
}
.plage_back
{
	    background: url("../img/plage.jpg");
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-repeat: repeat, repeat;
        background-attachment: scroll, scroll;
        background-size: auto, auto;
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat, no-repeat;
}
.port_back
{
	    background: url("../img/port.jpg");
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-repeat: repeat, repeat;
        background-attachment: scroll, scroll;
        background-size: auto, auto;
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: bottom left, bottom center;
    background-repeat: repeat, no-repeat;
}
.ile_back
{
	    background: url("../img/ile.jpg");
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-repeat: repeat, repeat;
        background-attachment: scroll, scroll;
        background-size: auto, auto;
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: bottom left, bottom center;
    background-repeat: repeat, no-repeat;
}
	
}
@keyframes moveleft {
		from { transform: translateX(100%); }
		to   { transform: translateX(0); }

		}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 2s;
	transition-property: opacity;
	animation: moveleft 10s;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	
	opacity: 1;
}
.carousel-control-prev,
.carousel-control-next
{
	background: rgba(0,0,0,0.7);
	width:5%;
	height:10%;
	top:50%!important;
	transform:transitionY(-50%);
	opacity:1;
}
.carousel-control-next-icon
{
	
	cursor: pointer;
}
.carousel-control-prev-icon
{
	
	cursor: pointer;
}
.theme_mobile
{
	text-align:center;
	background-color:white;
	padding-bottom: 110vw;
}
.col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.footer_mer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:0.6;
	padding:2vw;
}
.footer_mer_mobile
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgba(0,0,0,0.6);
	margin-left:15%;
	margin-right:15%;
}
.footer_mer p
{
	font-family: Fira Sans Extra Condensed;
	text-align: justify;
	text-transform: capitalize;
	font-size:1.5vw;
	color: #1D1D1B;
	display:flex;
	justify-content:center;
	
}
.footer_mer_mobile p
{
	font-family: Fira Sans Extra Condensed;
	text-align: justify;
	text-transform: capitalize;
	font-size:3.5vw;
	color: white;
	display:flex;
	justify-content:center;
	margin-left:7vw;
	margin-right:7vw;
	margin-bottom:7vw;
	
	
	
}
.bouton_mer
{
	background: #0F8581;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 45px;
	color:white;
	width:40%;
	height:auto;
	font-size:1.5vw;
	padding: 0.5vw;
}
.bouton_mer_mobile
{
	background-color: rgba(0,0,0,0.2);
	color:white;
	width:100%;
	height:auto;
	font-size:5.5vw;
	font-weight:bold;
	padding: 0.5vw;
	border:solid white 0.7vw;
}

.text_mer
{
	font-family: Fira Sans Extra Condensed;
	text-align: justify;
	text-transform: capitalize;
	padding:2vw;
	font-size:1vw;
	color: #1D1D1B;
	display:flex;
	justify-content:center;
	margin-bottom: 10vw;
}
.text_mer_mobile
{
	font-family: Fira Sans Extra Condensed;
	text-align: justify;
	text-transform: capitalize;
	padding:2vw;
	font-size:1vw;
	color: #1D1D1B;
	margin-bottom: 20vw;
	display:flex;
	justify-content:center;
}
.carousel-item.active
{
	margin-bottom:5vw;
	margin-top:5vw;
}
.carousel-indicators li
{
	background-color:black;
}
.header_mer
{
	color: #3B5773;
	font-family: Fira Sans Extra Condensed;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 2vw;
}
.header_mer_mobile
{
	color: white;
	font-family: Fira Sans Extra Condensed;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 19vw;
	margin-bottom: 2vw;
	margin-top: 2vw;
	opacity: 1;
}
.blue
{
	background: linear-gradient(180deg, #0F8581 0%, rgba(255, 255, 255, 0) 100%), #3B5773;
	padding-bottom: 6vw;
	padding-top: 2vw;
}
#theme
{
	justify-content:center;
}
.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.content {
  height: 100%;
}