.form-div { width:100%; border: 1px solid #e0e0e0; }
#profileDisplay { display: block; height: 210px; width: 60%; margin: 0px auto; }
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.row
{
	margin-left:0!important;
	margin-right:0!important;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}

.contenue
{
	font-size:1.5vw;
}
.contenue_legend
{
	font-size:3vw;
	color:blue;
}
.contenue_label
{
	font-size:1.5vw;
	width:40%;
}
@media screen and (max-device-width:1024px)
{
	.contenue
	{
		font-size:3vw;
	}
	.contenue_label
	{
		font-size:3vw;
		width:70%;
	}
	.contenue_legend
	{
		font-size:4.5vw;
		
	}
}
.btn-outline-info:hover
{
	background-color:black!important;
}